<aside class="sidebar">

    <a href="#" class="hbs-logo hidden-lg-up d-block mx-auto mt-1 mb-1">
        <img class="mx-auto" src="/images/branding/hbs-shield.svg" alt="">
    </a>
    
    <div class="p-1">
        <select class="form-control" onchange="location = '/version/'+this.value;">
            {{#versions}}
            
                {{#compare ../current "!=" ../ver_selected}}
                    <option value="{{.}}" {{#compare . "==" ../ver_selected}}selected{{/compare}}>Version {{.}}</option>
                {{/compare}}

                {{#compare ../current "==" ../ver_selected}}
                    <option value="{{.}}" {{#compare . "==" ../current}}selected{{/compare}}>Version {{.}} {{#compare . "==" ../current}}(current){{/compare}}</option>
                {{/compare}}


            {{/versions}}
        </select>
    </div>

    <nav class="sidebar-nav">
        <ul class="metismenu">
            
            {{#with nav}}
                {{!-- Render first level nav --}}
                    {{#each this}}
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">
                            <span class="sidebar-nav-item-icon fa fa-{{this.articles.[0]._category.icon}}"></span>
                            <span class="sidebar-nav-item">{{this.category}}</span>
                        </a>
                        <ul aria-expanded="false" class="collapse {{#compare this.category "==" ../../current_category}}in{{/compare}}">
                            
                            {{#each articles}}
                                <li class="{{#compare slug "==" ../../../current_article}}active{{/compare}}">
                                    <a href="/articles/{{slug}}" class="text-truncate text-nowrap">{{title}}
                                        <span class="tag 
                                            {{#compare type "==" "core"}}palette-bg-teal-500{{/compare}} 
                                            {{#compare type "==" "addon"}}palette-bg-grey-500{{/compare}} 
                                        float-xs-right hidden-lg-down">{{type}}</span>
                                    </a>
                                </li>

                            {{/each}}


                        </ul>
                    </li>
                    {{/each}}
               
            {{/with}}
                                                           
        </ul>
    </nav>
</aside>


