<aside class="sidebar">

    <a href="#" class="hbs-logo hidden-lg-up d-block mx-auto mt-1 mb-1">
        <img class="mx-auto" src="/images/branding/hbs-shield.svg" alt="">
    </a>
    
    <div class="p-1">
        <select class="form-control p-1">
            {{#versions}}
                <option value="{{.}}" {{#compare . "==" ../current}}selected{{/compare}}>Version {{.}} {{#compare . "==" ../current}}(current){{/compare}}</option>
            {{/versions}}
        </select>
    </div>

    <nav class="sidebar-nav">
        <ul class="metismenu">

            {{#nav}}
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-{{icon}}"></span>
                        <span class="sidebar-nav-item">{{title}}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        {{#each articles}}
                            <li>
                                <a href="/articles/{{slug}}">{{title}}
                                    <span class="tag palette-bg-teal-500 float-xs-right">{{type}}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/nav}}
                                                           
        </ul>
    </nav>
</aside>


