<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="metismenu">

            {{#nav}}
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <span class="sidebar-nav-item-icon fa fa-{{icon}}"></span>
                        <span class="sidebar-nav-item">{{title}}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        {{#each articles}}
                            <li>
                                <a href="/articles/{{slug}}">{{title}}
                                    <span class="tag palette-bg-teal-500 float-xs-right">{{type}}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/nav}}
                                                           
        </ul>
    </nav>
</aside>


