<h2><i class="fa fa-github mb-2"></i> Latest Changes</h2>

<ul class="list-group">
	{{#commits}}
  		<li class="list-group-item pl-1 pr-1">
  			<p class="font-weight-bold text-truncate">
  				<a href="{{html_url}}" class="text-capitalize">{{commit.message}}</a> <span class="float-right">{{  commit.committer.date}}</span></p>
  			<div class="chip">
			  	<img src="{{committer.avatar_url}}" alt="Person" width="96" height="96">
			  	{{commit.committer.name}}
			</div>
  		</li>
  	{{/commits}}
</ul>

<a class="b-block btn btn-secondary mt-2 external" href="https://github.com/HBSAWS/platypus/commits/master">View more</a>