<div id="mainbody" class="p-1">
	
	<div class="container">

		<div class="row my-3">
			<div class="col-md-3">
				<img src="/images/branding/platypus.svg" class="img-fluid mx-auto d-block">
			</div>
			<div class="col-md-9">
				<h1 class="display-4 hidden-md-down">HBS Admin App Dev <br><span class="font-weight-bold">UI/UX Framework</span></h1>
				<h1 class="hidden-lg-up text-sm-center text-md-left my-2">HBS Admin App Dev<br><span class="font-weight-bold">UI/UX Framework</span></h1>
				<p class="">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<a href="/articles/quick-start" class="btn btn-primary">Get Started</a>
			</div>
		</div>

		<div class="mb-3">&nbsp;</div>

		<hr>
		<h2 class="">Explore Components
			<div class="btn-group float-xs-right">
				 <div class="btn-group btn-group-justified-xs" role="group" aria-label="Justified button group">
				   	<a id="btn-list" class="btn btn-secondary" href="#" role="button">
				   		<i class="fa fa-list"></i><span class="hidden-sm-down"> List</span>
				   	</a>
				   	<a id="btn-grid" class="btn btn-secondary active" href="#" role="button">
				   		<i class="fa fa-th"></i><span class="hidden-sm-down"> Grid</span>
				   	</a>
				 </div>
			</div>
		</h2>
		<hr>
		
		
		<div id="component-container">
	
			<div class="row list-group mb-3">
				{{#each articles.docs}}
		  			
		  			<div class="item col-sm-6 col-md-4 col-lg-3 col-xl-3">
		    			<a href="/articles/{{slug}}">
						  	<div class="palette-bg-teal-100 p-2 img-container">
						  		<img class="img-fluid" src="/images/ui-components-thumbs/{{slug}}.png">
						  	</div>
						  	<div class="p-2 palette-bg-white">
						    	<h4>{{title}}</h4>
						    	<p>{{intro}}</p>
						  	</div>
					    </a>
					</div>
					
					{{#moduloIf @index 2 0}}<div class="clearfix mb-3 hidden-xs-down hidden-md-up"></div>{{/moduloIf}}
					{{#moduloIf @index 3 0}}<div class="clearfix mb-3 hidden-sm-down hidden-lg-up"></div>{{/moduloIf}}
					{{#moduloIf @index 4 0}}<div class="clearfix mb-3 hidden-md-down hidden-xl-up"></div>{{/moduloIf}}
					{{#moduloIf @index 4 0}}<div class="clearfix mb-3 hidden-lg-down"></div>{{/moduloIf}}

				{{/each}}
			</div>
		</div> <!--/#component-container-->


		<h2><i class="fa fa-github"></i> Latest Changes</h2>


		<ul class="list-group">
			{{#commits}}
		  		<li class="list-group-item pl-1 pr-1">
		  			<p class="font-weight-bold">
		  				<a href="{{html_url}}" class="text-capitalize text-truncate">{{commit.message}}</a> <span class="float-xs-right">{{commit.committer.date}}</span></p>
		  			<div class="chip">
					  	<img src="{{committer.avatar_url}}" alt="Person" width="96" height="96">
					  	{{commit.committer.name}}
					</div>

		  		</li>
		  	{{/commits}}
		</ul>

		<br>
		<br>
				
		{{!--
		<div class="text-xs-center mt-2">
			<a class="btn btn-primary loadmore" href="#" data-page="{{articles.page}}" data-pages="{{articles.pages}}">Show {{articles.limit}} more</a>
		</div>
		--}}	
				

	
		
	</div><!--/.container-->
</div><!--/#mainbody-->




	
