<div id="mainbody" class="p-1">
	
	<div class="container">

		<div class="row my-3">
			<div class="col-md-3">
				<img src="/images/branding/platypus.svg" class="img-fluid mx-auto d-block">
			</div>
			<div class="col-md-9">
				<h1 class="display-4 hidden-md-down">HBS Admin App Dev <br><span class="font-weight-bold">UI/UX Framework</span></h1>
				<h1 class="hidden-lg-up text-sm-center text-md-left my-2">HBS Admin App Dev<br><span class="font-weight-bold">UI/UX Framework</span></h1>
				<p class="">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<a href="/articles/quick-start" class="btn btn-primary">Get Started</a>
			</div>
		</div>

		<div class="mb-3">&nbsp;</div>

		<hr>
		<h2 class="">Explore Components</h2>
		<hr>
		
		
		<div id="component-container">
	
			<div class="carousel row mb-3" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
				{{#each articles }}
		  			<div class="col-md-3">
		    			<a href="/articles/{{slug}}">
						  	<div class="palette-bg-teal-100 p-2 img-container">
						  		<img class="img-fluid" src="/images/ui-components-thumbs/{{slug}}.png">
						  	</div>
						  	<div class="p-2 palette-bg-white">
						    	<h4>{{title}}</h4>
						    	<p>{{intro}}</p>
						  	</div>
					    </a>
					</div>
				{{/each}}
			</div>
		</div> <!--/#component-container-->


		<div class="row">
			<div class="col-md-6">
				{{> updates }}
			</div>
			<div class="col-md-6">
				{{> patterns }}
			</div>
		</div>
		
		

		<br>
		<br>
				
		{{!--
		<div class="text-xs-center mt-2">
			<a class="btn btn-primary loadmore" href="#" data-page="{{articles.page}}" data-pages="{{articles.pages}}">Show {{articles.limit}} more</a>
		</div>
		--}}	
				

	
		
 	</div><!--/.container--> 
</div><!--/#mainbody-->



	
