{{#article}}

	{{> breadcrumbs this }}
	<div class="page-header p-1">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-truncated">Edit {{title}}</h1>
			</div>
		</div>
		<hr>
	</div>

	<div id="mainbody" class="m-2">

		<form action="/articles/update/{{id}}" method="post" data-parsley-validate>
		  
		  <div class="row form-group">
			  <div class="col-md-4 hidden-sm-down text-xs-right">
			    <label for="title">Title</label>
			  </div>
			  <div class="col-md-8">
			  	<label class="hidden-md-up d-block" for="title">Title</label>
			  	<input name="title" type="text" class="form-control" value="{{title}}" autofocus required>
			  </div>
			</div><!--/.row-->

			<div class="form-group row">
				<label class="col-md-4 hidden-sm-down text-xs-right" for="status">Status</label>
				<div class="col-md-8">
					<label class="hidden-md-up d-block" for="status">Status</label>
					<select name="status" class="form-control" id="select-single">
						<option value="" {{#is status ""}}selected{{/is}}></option>
						<option value="experimental" {{#is status "experimental"}}selected{{/is}}>Experimental</option>
						<option value="production" {{#is status "production"}}selected{{/is}}>Production</option>
						<option value="deprecated" {{#is status "deprecated"}}selected{{/is}}>Deprecated</option>
					</select>
				</div>
			</div><!--/.row-->

		    <div class="form-group row">
		        <label class="col-md-4 hidden-sm-down text-xs-right" for="type">Type</label>
		        <div class="col-md-8">
		            <label class="hidden-md-up d-block" for="type">Type</label>
		            <select name="type" class="form-control" id="select-single">
		                {{#each ../types}}
		                	<option value="{{this}}" {{#is this ../type}}selected{{/is}}>{{this}}</option>
		                {{/each}}
		            </select>
		        </div>
		    </div><!--/.row-->
			
			<div class="row form-group">
			  <div class="col-md-4 hidden-sm-down text-xs-right">
			    <label for="_category">Category</label>
			  </div>
			  <div class="col-md-8">
			  	<label class="hidden-md-up d-block" for="_category">Category</label>
			  	<select name="_category" class="form-control select2" required>
					{{#each ../categories}}
					  	<option value="{{_id}}" {{#is title ../_category.title}}selected{{/is}}>{{title}}</option>
					{{/each}}
				</select>
			  </div>
			</div><!--/.row-->

			<div class="row form-group">
			  <div class="col-md-4 hidden-sm-down text-xs-right">
			    <label for="intro">Intro</label>
			  </div>
			  <div class="col-md-8">
			  	<label class="hidden-md-up d-block" for="intro">Intro</label>
			  	<input name="intro" type="text" class="form-control" value="{{intro}}" >
				</div>
			</div><!--/.row-->	

			<div class="row form-group">
			  <div class="col-md-4 hidden-sm-down text-xs-right">
		    	<label for="body">Body</label>
			  </div>
			  <div class="col-md-8">
			  	<label class="hidden-md-up d-block" for="body">Body</label>
			  	<textarea name="body" class="form-control summernote" required>{{body}}</textarea>
			  </div>
			</div><!--/.row-->	

			<div class="row form-group">
			  <div class="col-md-4 text-md-right">
			    <label for="markup">Markup</label>
			  </div>
			  <div class="col-md-8">
			  	<label class="hidden-md-up d-block" for="markup">Markup</label>
			  	<textarea name="markup" class="form-control" rows="20">{{markup}}</textarea>
				</div>
			</div><!--/.row-->		

			<div class="row form-group">
			  <div class="col-md-4 text-md-right">
			    <label for="js">Javascript</label>
			  </div>
			  <div class="col-md-8">
			  	<label class="hidden-md-up d-block" for="js">Javascript</label>
			  	<textarea name="js" class="form-control">{{js}}</textarea>
				</div>
			</div><!--/.row-->	

		  	<div class="row form-group">
			  <div class="col-md-4 hidden-sm-down text-xs-right">
			    <label for="fiddle">Fiddle</label>
			  </div>
			  <div class="col-md-8">
			  	<label class="hidden-md-up d-block" for="fiddle">Fiddle</label>
			  	<input name="fiddle" type="text" class="form-control" value="{{fiddle}}">
				</div>
			</div><!--/.row-->	

		  <div class="row form-group">
		  	<div class="col-md-4 hidden-sm-down text-xs-right">
		  	</div>
			  <div class="col-md-8">
				 	<div class="checkbox">
				    <label>
				      <input name="published" type="checkbox" {{#is published true}}checked{{/is}}> Published?
				    </label>
				  </div>
			  </div> 
		 	</div><!--/.row-->	

			<div class="row form-group">
				<div class="col-md-4 hidden-sm-down text-xs-right">
					<label for="best_practices">Best Practices</label>
				</div>
				<div class="col-md-8">
					<label class="hidden-md-up d-block" for="best_practices">Best Practices</label>
					<textarea name="best_practices" class="form-control summernote">{{best_practices}}</textarea>
				</div>
			</div><!--/.row-->		

			<div class="row form-group">
				<div class="col-md-4 hidden-sm-down text-xs-right">
					<label for="avoid">Avoid</label>
				</div>
				<div class="col-md-8">
					<label class="hidden-md-up d-block" for="avoid">Avoid</label>
					<textarea name="avoid" class="form-control summernote">{{avoid}}</textarea>
				</div>
			</div><!--/.row-->	

			<div class="row form-group">
				<div class="col-md-4 hidden-sm-down text-xs-right">
					<label for="resources">Resources</label>
				</div>
				<div class="col-md-8">
					<label class="hidden-md-up d-block" for="resources">Resources</label>
					<textarea name="resources" class="form-control summernote">{{resources}}</textarea>
				</div>
			</div><!--/.row-->	 


			<div class="row form-group">
				<div class="col-md-4 hidden-sm-down text-xs-right">
					<label for="tested_on">Tested On</label>
				</div>
				<div class="col-md-8">
					<label class="hidden-md-up d-block" for="tested_on">Tested On</label>
					<select name="tested_on" class="select2 form-control" data-placeholder="Select" data-allow-clear="true" multiple>
					    {{#each ../browsers}}
					    	<option value="{{.}}" {{#inArray ../tested_on this}} selected {{ else }} {{/inArray}}>{{.}}</option>
					    {{/each}}
					</select>
				</div>
			</div><!--/.row-->	
		
		  <div class="row form-group hidden-sm-down">
		  	<div class="col-md-4 hidden-sm-down text-xs-right">
		  	</div>
			<div class="col-md-8"> 	
				<button type="submit" class="btn btn-default btn-primary ladda-button">Update</button>
			</div> 
		 </div><!--/.row-->	

		<div id="mobile-toolbar" class="hidden-md-up">
	  		<div class="col-xs-12 palette-bg-teal-500 navbar-fixed-bottom">
	  			<div class="row">
	    			<div class="col-xs-12 text-xs-center">
	    				<button type="submit" class="btn btn-link ladda-button" data-toggle="tooltip" title="Update"><i class="fa fa-fw fa-2x fa-save"></i></button>
	    			</div>
	  			</div>
	  		</div>
		</div>

		</form>
	</div><!--/#mainbody-->	



{{/article}}