{{> breadcrumbs this }}
<div class="page-header p-3">
	<div class="row">
		<div class="col-12">
			<h1 class="text-truncated">{{page_title}}</h1>
		</div>
	</div>
	<hr>
</div>

<div id="mainbody" class="m-2">
	<ul class="list-group">
		{{#articles}}
		<li class="list-group-item pl-1">
			<a href="/articles/{{slug}}#">{{title}}</a> <small class="text-muted">{{version}}</small>

			<span class="float-right">
				<a href="/articles/edit/{{id}}#" class="btn btn-link"><i class="fa fa-edit"></i></a>
				<form class="d-inline" action="/articles/destroy/{{id}}" method="post">
					<button href="#" class="btn btn-link"><i class="fa fa-trash"></i></button>
				</form>
			</span>

		 </li>	
		{{/articles}}
	</ul>
	<hr>
	<a class="btn btn-primary" href="/articles/new">New</a>
</div>