{{#article}}
		
	{{> breadcrumbs this }}
	
	<div class="page-header px-3 pt-3">
		<div class="row">
			<div class="col-sm-7">
				<h1 class="text-truncated">{{title}}</h1>
			</div>
			<div class="col-sm-5 hidden-sm-down">
				<div class="float-right">	
				   	<a class="btn btn-secondary mr-1" href="/articles/edit/{{_id}}"><i class="fa fa-edit"></i><span class="d-none d-xl-inline"> Edit</span></a>
				   	<a class="btn btn-secondary mr-1" href="https://hbs-itg.atlassian.net/secure/CreateIssue!default.jspa" role="button"><i class="fa fa-bug"></i><span class="d-none d-xl-inline"> Report Bug</span></a>
				   	<form class="d-inline" action="/articles/destroy/{{_id}}" method="POST">
				   		<button type="submit" class="btn btn-danger confirm-delete"><i class="fa fa-trash"></i><span class="d-none d-xl-inline"> Delete</span></button>
				   	</form>
				</div>
			</div>
		</div>
	</div>

	<div id="mainbody" class="p-3">

		{{> alerts flash=../flash }}

		<div id="main-panels" role="tablist" aria-multiselectable="true">
		  	
		  	<div class="card panel mb-3">
		    	<div class="card-header" role="tab" id="header-one">
		      	<h5 class="mb-0">
		        	<a class="text-truncate" data-toggle="collapse" {{!-- data-parent="#main-panels" --}} href="#description" aria-expanded="true" aria-controls="description">
		          	<i class="fa fa-fw fa-info-circle mr-1"></i>Description
		        	</a>
		      	</h5>
		    </div>

		    <div id="description" class="collapse show" role="tabpanel" aria-labelledby="header-one">
			    <div class="card-block p-4">
			    	<div class="row">
			    		<div class="col-md-9">
			    			<p class="lead"><span class="edit-inline" data-post-url="/articles/update/{{_id}}/intro">{{intro}}</span></p>
			    			<div class="edit-inline" data-post-url="/articles/update/{{_id}}/body">{{{body}}}</div>
			    		</div>
			    		<div class="col-md-3">
								
							<ul class="leaders">
								<li>
									<span>Type</span>
								 	<span class="font-weight-bold">{{type}}</span>
								 </li>
								<li>
									<span>Version</span>
								 	<span class="font-weight-bold">{{version}}</span>
								 </li>
								<li>
									<span>Status</span>
								 	<span class="font-weight-bold">{{status}}</span>
								</li>
								<li>
									<span>Accessibility</span>
								 	<span class="font-weight-bold">{{accessibility}}</span>
								</li>
							</ul>

			    			<h6 class="mb-1">Tested on</h6>
			    			<div class="row mb-1 text-center">
			    				{{#inArray tested_on "Chrome"}}
			    					<div class="col-3"><i class="fa fa-2x fa-chrome text-success" data-toggle="tooltip" title="Passing"></i></div>
			    				{{else}}
			    					<div class="col-3"><i class="fa fa-2x fa-chrome text-muted" data-toggle="tooltip" title="Not tested"></i></div>
								{{/inArray}}

								{{#inArray tested_on "Safari"}}
									<div class="col-3"><i class="fa fa-2x fa-safari text-success" data-toggle="tooltip" title="Passing"></i></div>
								{{else}}
									<div class="col-3"><i class="fa fa-2x fa-safari text-muted" data-toggle="tooltip" title="Not tested"></i></div>
								{{/inArray}}

								{{#inArray tested_on "Firefox"}}
									<div class="col-3"><i class="fa fa-2x fa-firefox text-success" data-toggle="tooltip" title="Passing"></i></div>
								{{else}}
									<div class="col-3"><i class="fa fa-2x fa-firefox text-muted" data-toggle="tooltip" title="Not tested"></i></div>
								{{/inArray}}

								{{#inArray tested_on "Internet Explorer"}}
									<div class="col-3"><i class="fa fa-2x fa-internet-explorer text-success" data-toggle="tooltip" title="Passing"></i></div>
								{{else}}
									<div class="col-3"><i class="fa fa-2x fa-internet-explorer text-muted" data-toggle="tooltip" title="Not tested"></i></div>
								{{/inArray}}			    				
			    			</div>
			    			<div class="row text-center">
			    				{{#inArray tested_on "Safari Mobile"}}
			    					<div class="col-3"><i class="fa fa-2x fa-opera text-success" data-toggle="tooltip" title="Passing"></i></div>
			    				{{else}}
			    					<div class="col-3"><i class="fa fa-2x fa-opera text-muted" data-toggle="tooltip" title="Not tested"></i></div>
								{{/inArray}}

			    				{{#inArray tested_on "Android Mobile"}}
			    					<div class="col-3"><i class="fa fa-2x fa-android text-success" data-toggle="tooltip" title="Passing"></i></div>
								{{else}}
									<div class="col-3"><i class="fa fa-2x fa-android text-muted" data-toggle="tooltip" title="Not tested"></i></div>
								{{/inArray}}

			    				{{#inArray tested_on "Safari Mobile"}}
			    					<div class="col-3"><i class="fa fa-2x fa-apple text-success" data-toggle="tooltip" title="Passing"></i></div>
								{{else}}
									<div class="col-3"><i class="fa fa-2x fa-apple text-muted" data-toggle="tooltip" title="Not tested"></i></div>
								{{/inArray}}

			    				{{#inArray tested_on "Windows Mobile"}}
			    					<div class="col-3"><i class="fa fa-2x fa-windows text-success" data-toggle="tooltip" title="Passing"></i></div>
			    				{{else}}
			    					<div class="col-3"><i class="fa fa-2x fa-windows text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    				{{/inArray}}
			    			</div>
			    		</div>
			    	</div>
					
			    </div>
		    </div>
		  </div>

		  
		{{#if markup}}
			<div class="card panel mb-3">
			    <div class="card-header" role="tab" id="header-two">
			      <h5 class="mb-0">
			        <a class="collapsed text-truncate" data-toggle="collapse" {{!-- data-parent="#main-panels" --}} href="#examples" aria-expanded="true" aria-controls="examples">
			          <i class="fa fa-fw fa-mouse-pointer mr-1"></i>Examples
			        </a>
			      </h5>
			    </div>
			    <div id="examples" class="collapse show" role="tabpanel" aria-labelledby="header-two">
			      <div class="card-block p-4">

			      
						<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#xs" role="tab">XL - Desktop (≥1200px)</a>
						</li>
						<li class="nav-item  hidden-down">
							<a class="nav-link" data-toggle="tab" href="#sm" role="tab">Other Devices</a>
						</li>		
					</ul> 

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active mt-2" id="xs" role="tabpanel">
		      				{{{markup}}}
						</div>
						<div class="tab-pane  mt-2" id="sm" role="tabpanel">

							<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
						   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/480" target="_blank">
						   			<i class="fa fa-fw fa-mobile fa-2x d-block mx-auto"></i>
						   			<span class="hidden-sm-down"> XS - Mobile<br/>(&lt;576px)</span>
						   		</a>
						   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/600" target="_blank">
						   			<i class="fa fa-fw fa-tablet fa-2x d-block mx-auto"></i>
						   			<span class="hidden-sm-down"> SM - Phablet<br/>(≥576px)</span>
						   		</a>
						   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/768" target="_blank">
						   			<i class="fa fa-fw fa-tablet fa-3x d-block mx-auto"></i>
						   			<span class="hidden-sm-down"> MD - Tablet<br/>(≥768px)</span>
						   		</a>
						   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/1024" target="_blank">
						   			<i class="fa fa-fw fa-laptop fa-4x d-block mx-auto"></i>
						   			<span class="hidden-sm-down"> LG - Laptop<br/>(≥992px)</span>
						   		</a>
						   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/1200" target="_blank">
						   			<i class="fa fa-fw fa-desktop fa-5x d-block mx-auto"></i>
						   			<span class="hidden-sm-down"> XL - Laptop<br/>(≥1200px)</span>
						   		</a>
						 	</div>

						</div>

					</div> 

			      </div>
			    </div>
			  </div>
			  <div class="card panel mb-3">
			    <div class="card-header" role="tab" id="header-three">
			      <h5 class="mb-0">
			        <a class="collapsed text-truncate" data-toggle="collapse" {{!-- data-parent="#main-panels" --}} href="#markup" aria-expanded="true" aria-controls="markup">
			          <i class="fa fa-fw fa-code mr-1"></i>Markup
			        </a>
			      </h5>
			    </div>
			    <div id="markup" class="collapse show" role="tabpanel" aria-labelledby="header-three">
			      <div class="card-block p-4">
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
					  	{{#if markup}}
						  	<li class="nav-item">
						    	<a class="nav-link active" data-toggle="tab" href="#html_markup" role="tab"><i class="fa fa-fw fa-html5"></i> HTML</a>
						  	</li>
					  	{{/if}}
					  	{{#if js}}
						  	<li class="nav-item">
						    	<a class="nav-link" data-toggle="tab" href="#js" role="tab"><i class="fa fa-fw fa-html5"></i>JavaScript</a>
						  	</li>
					  	{{/if}}
					  	{{#if fiddle}}
						  	<li class="nav-item">
						    	<a class="nav-link" data-toggle="tab" href="#jsfiddle" role="tab"><i class="fa fa-fw fa-html5"></i>JsFiddle</a>
						  	</li>
					  	{{/if}}					  	
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  	{{#if markup}}
					  		<div class="tab-pane active" id="html_markup" role="tabpanel" style="position: relative;">
					  			<pre class="pre-scrollable"><code class="html" id="copy-html">{{markup}}</code></pre>
					  			<button class="btn btn-secondary" 
					  			type="button" 
					  			data-clipboard-target="#copy-html"
					  			data-toggle="tooltip"
					  			title="Copy to clipboard"
					  			style="position: absolute; top: 20px; right: 35px; z-index: 10;">
					  				<i class="fa fa-copy"></i>
					  			</button>
					  		</div>
					  	{{/if}}	
					  	{{#if js}}
					  		<div class="tab-pane" id="js" role="tabpanel" style="position: relative;">
					  			<pre class="pre-scrollable"><code class="javascript" id="copy-js">{{this.js}}</code></pre>
					  			<button class="btn btn-secondary" 
					  			type="button" 
					  			data-clipboard-target="#copy-js" 
					  			data-toggle="tooltip"
					  			title="Copy to clipboard"
					  			style="position: absolute; top: 20px; right: 35px; z-index: 10;">
					  				<i class="fa fa-copy"></i>
					  			</button>
					  		</div>
					  	{{/if}}		
					  	{{#if fiddle}}
					  		<div class="tab-pane" id="jsfiddle" role="tabpanel">
					  			<script async src="//jsfiddle.net/HBSAWS/{{fiddle}}/embed/js,html,css,resources,result/dark/"></script>
					  		</div>
					  	{{/if}}						  	
					</div>
					
			      </div>
			    </div>
			 </div>
		{{/if}}  

		</div>

		
		<div class="helpful-widget my-2" data-article-id="{{_id}}">
			<div class="btn-group btn-group-sm mr-1">
				<button type="button" class="btn btn-secondary yes" data-toggle="tooltip" title="Yes">
					<i class="fa fa-caret-up"></i>
				</button>
				<button type="button" class="btn btn-secondary" disabled data-toggle="tooltip" title="{{#if score}}{{score}} people found this helpful{{else}}Be the first to rate this article{{/if}}">{{#if score}}{{score}}{{else}}0{{/if}}</button>
				<button type="button" class="btn btn-secondary no" data-toggle="tooltip" title="No">
					<i class="fa fa-caret-down"></i>
				</button>
			</div>
			Was this helpful?
		</div>
	</div><!--/#mainbody-->


	<div id="mobile-toolbar" class="d-lg-none">
	  	<div class="col-12 palette-bg-teal-500 navbar-fixed-bottom">
	  		<div class="row">
	    		<div class="col-4 text-center">
	    			<a class="btn btn-link" href="/articles/edit/{{_id}}" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-2x fa-edit"></i></a>
	    		</div>
	    		<div class="col-4 text-center">
	    			<a class="btn btn-link" href="https://hbs-itg.atlassian.net/secure/CreateIssue!default.jspa" data-toggle="tooltip" title="Report Bug"><i class="fa fa-fw fa-2x fa-bug"></i></a>
	    		</div>
	    		<div class="col-4 text-center">
	    			<form class="d-inline" action="/articles/destroy/{{_id}}" method="POST">
				   		<button type="submit" class="btn btn-link confirm-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-fw fa-2x fa-trash"></i></button>
				   	</form>
	    		</div>
	  		</div>
	  	</div>
	</div>

	<!-- Run Demo JS -->
	<script>
		window.addEventListener('load', function() {
			{{{this.js}}}
		});
	</script>

{{/article}}





