{{#article}}
<h2>{{title}} <a href="/articles/edit/{{_id}}"><i class="fa fa-edit pull-right"></i></a></h2>
<p class="lead">{{intro}}</p>

<h4><i class="fa fa-mouse-pointer"></i> Demo</h4>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#demo-mobile" role="tab"><i class="fa fa-mobile"></i> Mobile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#demo-tablet" role="tab"><i class="fa fa-tablet"></i> Tablet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#demo-desktop" role="tab"><i class="fa fa-desktop"></i> Desktop</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mb-2">
  <div class="tab-pane active" id="demo-mobile" role="tabpanel">
  	<div class="embed-responsive embed-responsive-16by9">
		  <script async src="//jsfiddle.net/robsilva/{{fiddle}}/embed/result,js,html,css/dark/"></script>
		</div>
  </div>
  <div class="tab-pane" id="demo-tablet" role="tabpanel">
  	<div class="embed-responsive embed-responsive-16by9">
		  <script async src="//jsfiddle.net/robsilva/{{fiddle}}/embed/result,js,html,css/dark/"></script>
		</div>
  </div>
  <div class="tab-pane" id="demo-desktop" role="tabpanel">
  	<div class="embed-responsive embed-responsive-16by9">
		  <script async src="//jsfiddle.net/robsilva/{{fiddle}}/embed/result,js,html,css/dark/"></script>
		</div>
  </div>
</div>

<div class="mb-2">
	{{{body}}}
</div>

{{/article}}

<a href="#" class="btn btn-primary"><i class="fa fa-angle-double-left"></i> Back</a>