{{#article}}
	
	{{> breadcrumbs this }}
	<div class="page-header palette-bg-blue-grey-50 p-1 mb-2">
		<div class="row">
			<div class="col-xs-8">
				<h2 class="display-4">{{title}}</h2>
			</div>
			<div class="col-xs-4">
				<div class="btn-group float-xs-right">
					<a href="/articles/edit/{{_id}}" class="btn btn-secondary"><i class="fa fa-edit"></i><span class="hidden-sm-down"> Edit</span></a>
					<a href="https://hbs-itg.atlassian.net/secure/CreateIssue!default.jspa" class="btn btn-secondary" target="_blank"><i class="fa fa-bug"></i><span class="hidden-sm-down"> Report Bug</span></a>
				</div>
			</div>
		</div>
	</div>

	
	<p class="lead">{{intro}}</p>
	<div>{{{body}}}</div>


	{{{markup}}}
	
	{{#compare _category.title "UI Components"}}

		<h4>Examples</h4>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#xs" role="tab">XS - Mobile (&lt;576px)</a>
			</li>
			<li class="nav-item  hidden-xs-down">
				<a class="nav-link" data-toggle="tab" href="#sm" role="tab">SM - Phablet (≥576px)</a>
			</li>
			<li class="nav-item  hidden-sm-down">
				<a class="nav-link" data-toggle="tab" href="#md" role="tab">MD - Tablet (≥768px)</a>
			</li>
			<li class="nav-item  hidden-md-down">
				<a class="nav-link" data-toggle="tab" href="#lg" role="tab">LG - Laptop (≥992px)</a>
			</li>	
			<li class="nav-item hidden-lg-down">
				<a class="nav-link" data-toggle="tab" href="#xl" role="tab">XL - Desktop (≥1200px)</a>
			</li>				
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active mt-2" id="xs" role="tabpanel">
				
				<div class="row">
	      				<div class="d-block mx-auto palette-bg-white" style="width: 523px;">
	      				
						<div class="device-mockup" data-device="iphone6" data-orientation="portrait" data-color="white">
						    <div class="device">
							<div class="screen palette-bg-white">
							    <iframe src="/articles/mock/{{slug}}/480" height="100%" width="100%" frameborder="0" scrolling="yes">You need an iframes capable browser to view this content.</iframe>
							</div>
							<div class="button">
							    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
							</div>
						    </div>
						</div>

	      				</div>
				</div>



			</div>
			<div class="tab-pane hidden-xs-down mt-2" id="sm" role="tabpanel">
				
				<div class="row">
	      			<div class="d-block mx-auto palette-bg-white" style="width:829px;">
	      				
	      				<div class="device-mockup" data-device="nexus7" data-orientation="portrait" data-color="black">
						    <div class="device">
						        <div class="screen palette-bg-white">
							    <iframe src="/articles/mock/{{slug}}/600" height="100%" width="100%" frameborder="0" scrolling="yes">You need an iframes capable browser to view this content.</iframe>
						        </div>
						        <div class="button">
						            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
						        </div>
						    </div>
						</div>

	      			</div>
				</div>

			</div>
			<div class="tab-pane hidden-sm-down mt-2" id="md" role="tabpanel">
				
				<div class="row">
	      			<div class="d-block mx-auto palette-bg-white" style="width: 875px;" >
	      				
	      				<div class="device-mockup" data-device="ipad_air_2" data-orientation="portrait" data-color="black">
						    <div class="device">
						        <div class="screen palette-bg-white">
							    <iframe src="/articles/mock/{{slug}}/768" height="100%" width="100%" frameborder="0" scrolling="yes">You need an iframes capable browser to view this content.</iframe>
						        </div>
						        <div class="button">
						            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
						        </div>
						    </div>
						</div>

	      			</div>
				</div>

			</div>
			<div class="tab-pane hidden-md-down mt-2" id="lg" role="tabpanel">
				
				<div class="row">
					<div class="d-block mx-auto palette-bg-white">
	      				
	      				<div class="device-mockup" data-device="macbook_2015" data-orientation="portrait" data-color="black">
						 <div class="device">
						        <div class="screen palette-bg-white">
							    <iframe src="/articles/mock/{{slug}}/1024" height="100%" width="100%" frameborder="0" scrolling="yes">You need an iframes capable browser to view this content.</iframe>
						        </div>
					        <div class="button">
					            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
					        </div>
					    </div>
					</div>

					</div>
				</div>

			</div>
			<div class="tab-pane hidden-lg-down mt-2" id="xl" role="tabpanel">
				
				<div class="row">
	      			<div class="col-xs-12 palette-bg-white">
	      				
	      				<div class="device-mockup" data-device="imac" data-orientation="portrait" data-color="black">
						    <div class="device">
						        <div class="screen palette-bg-white">
							    <iframe src="/articles/mock/{{slug}}/1200" height="100%" width="100%" frameborder="0" scrolling="yes">You need an iframes capable browser to view this content.</iframe>
						        </div>
						        <div class="button">
						            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
						        </div>
						    </div>
						</div>

	      			</div>
				</div>

			</div>		

		</div>
	
	<hr>

	<h4>Markup</h4>
	<pre class="pre-scrollable"><code class="html">{{markup}}</code></pre>

	{{/compare}}

	



<a href="#" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-angle-double-left"></i> Back</a>



{{/article}}
