{{#article}}
<h2 class="display-4">{{title}} <a href="/articles/edit/{{_id}}"><i class="fa fa-edit pull-right"></i></a></h2>
<p class="lead">{{intro}}</p>
<div>{{{body}}}</div>

<h4>Example</h4>
{{{markup}}}

<hr>

<h4>Markup</h4>
<pre class="pre-scrollable">
<code class="html">{{markup}}</code>
</pre>

<div class="mb-2">
	{{{body}}}
</div>

{{/article}}

<a href="#" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-angle-double-left"></i> Back</a>