{{#article}}
<h2 class="display-4">{{title}} <a href="/articles/edit/{{_id}}"><i class="fa fa-edit pull-right"></i></a></h2>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut.</p>

<h4>Example</h4>
{{{markup}}}

<hr>

<h4>Markup</h4>
<pre class="pre-scrollable">
<code class="html">{{markup}}</code>
</pre>

<div class="mb-2">
	{{{body}}}
</div>

{{/article}}

<a href="#" class="btn btn-primary"><i class="fa fa-angle-double-left"></i> Back</a>