{{#article}}
	
	{{> breadcrumbs this }}
	
	<div class="page-header p-1">
		<div class="row">
			<div class="col-sm-7">
				<h2 class="display-4 text-truncated">{{title}}</h2>
			</div>
			<div class="col-sm-5">
				<div class="btn-group float-xs-right">
					 <div class="btn-group btn-group-justified-xs" role="group" aria-label="Justified button group">
					   	<a class="btn btn-secondary" href="/articles/edit/{{_id}}" role="button"><i class="fa fa-edit"></i><span class="hidden-sm-down"> Edit</span></a>
					   	<a class="btn btn-secondary" href="https://hbs-itg.atlassian.net/secure/CreateIssue!default.jspa" role="button"><i class="fa fa-bug"></i><span class="hidden-sm-down"> Report Bug</span></a>
					 </div>
				</div>
			</div>
		</div>
		<hr>
	</div>

	<div id="mainbody" class="p-1">

		<div id="main-panels" role="tablist" aria-multiselectable="true">
		  	
		  	<div class="card panel">
		    	<div class="card-header" role="tab" id="headingOne">
		      	<h5 class="mb-0">
		        	<a class="text-truncate" data-toggle="collapse" {{!-- data-parent="#main-panels" --}} href="#description" aria-expanded="true" aria-controls="description">
		          	<i class="fa fa-fw fa-info-circle mr-1"></i>Description
		        	</a>
		      	</h5>
		    </div>

		    <div id="description" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
			    <div class="card-block">
			    	<div class="row">
			    		<div class="col-md-9">
			    			<p class="lead">{{intro}}</p>
							<div>{{{body}}}</div>
			    		</div>
			    		<div class="col-md-3">
								
							<ul class="leaders">
								<li>
									<span>Version</span>
								 	<span class="font-weight-bold">{{version}}</span>
								 </li>
								<li>
									<span>Status</span>
								 	<span class="font-weight-bold">{{status}}</span>
								</li>
							</ul>

			    			<h6 class="mb-1">Tested on</h6>
			    			<div class="row mb-1 text-xs-center">
			    				<div class="col-xs-3"><i class="fa fa-2x fa-chrome text-primary" data-toggle="tooltip" title="9+"></i></div>
			    				<div class="col-xs-3"><i class="fa fa-2x fa-safari text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    				<div class="col-xs-3"><i class="fa fa-2x fa-firefox text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    				<div class="col-xs-3"><i class="fa fa-2x fa-internet-explorer text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    			</div>
			    			<div class="row text-xs-center">
			    				<div class="col-xs-3"><i class="fa fa-2x fa-opera text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    				<div class="col-xs-3"><i class="fa fa-2x fa-android text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    				<div class="col-xs-3"><i class="fa fa-2x fa-apple text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    				<div class="col-xs-3"><i class="fa fa-2x fa-windows text-muted" data-toggle="tooltip" title="Not tested"></i></div>
			    			</div>
			    		</div>
			    	</div>
					
			    </div>
		    </div>
		  </div>

		  {{#compare _category.title "UI Components"}}
		  <div class="card panel">
		    <div class="card-header" role="tab" id="headingTwo">
		      <h5 class="mb-0">
		        <a class="collapsed text-truncate" data-toggle="collapse" {{!-- data-parent="#main-panels" --}} href="#examples" aria-expanded="true" aria-controls="examples">
		          <i class="fa fa-fw fa-mouse-pointer mr-1"></i>Examples
		        </a>
		      </h5>
		    </div>
		    <div id="examples" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="card-block">

		      
					<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#xs" role="tab">XL - Desktop (≥1200px)</a>
					</li>
					<li class="nav-item  hidden-xs-down">
						<a class="nav-link" data-toggle="tab" href="#sm" role="tab">Other Devices</a>
					</li>		
				</ul> 

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active mt-2" id="xs" role="tabpanel">
						
						{{!-- <div class="row">
			      			<div class="d-block mx-auto palette-bg-white"> --}}
			      				
			      				{{{markup}}}

								{{!-- <div class="device-mockup" data-device="iphone6" data-orientation="portrait" data-color="white">
								    <div class="device">
									<div class="screen palette-bg-white">
									    <iframe src="/articles/mock/{{slug}}/480" height="100%" width="100%" frameborder="0" scrolling="yes">You need an iframes capable browser to view this content.</iframe>
									</div>
									<div class="button">
									    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
									</div>
								    </div>
								</div> --}}

			      			{{!-- </div>
						</div> --}}

					</div>
					<div class="tab-pane  mt-2" id="sm" role="tabpanel">
						

						<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
					   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/480" target="_blank">
					   			<i class="fa fa-fw fa-mobile fa-2x d-block mx-auto"></i>
					   			<span class="hidden-sm-down"> XS - Mobile (&lt;576px)</span>
					   		</a>
					   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/600" target="_blank">
					   			<i class="fa fa-fw fa-tablet fa-2x d-block mx-auto"></i>
					   			<span class="hidden-sm-down"> SM - Phablet (≥576px)</span>
					   		</a>
					   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/768" target="_blank">
					   			<i class="fa fa-fw fa-tablet fa-3x d-block mx-auto"></i>
					   			<span class="hidden-sm-down"> MD - Tablet (≥768px)</span>
					   		</a>
					   		<a class="btn btn-secondary" href="/articles/mock/{{slug}}/1024" target="_blank">
					   			<i class="fa fa-fw fa-laptop fa-4x d-block mx-auto"></i>
					   			<span class="hidden-sm-down"> LG - Laptop (≥992px)</span>
					   		</a>
					 	</div>

					</div>

				</div> 

		      </div>
		    </div>
		  </div>
		  <div class="card panel">
		    <div class="card-header" role="tab" id="headingThree">
		      <h5 class="mb-0">
		        <a class="collapsed text-truncate" data-toggle="collapse" {{!-- data-parent="#main-panels" --}} href="#markup" aria-expanded="true" aria-controls="markup">
		          <i class="fa fa-fw fa-code mr-1"></i>Markup
		        </a>
		      </h5>
		    </div>
		    <div id="markup" class="collapse in" role="tabpanel" aria-labelledby="headingThree">
		      <div class="card-block">
				
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
				  	{{#if markup}}
					  	<li class="nav-item">
					    	<a class="nav-link active" data-toggle="tab" href="#html_markup" role="tab"><i class="fa fa-fw fa-html5"></i> HTML</a>
					  	</li>
				  	{{/if}}
				  	{{#if js}}
					  	<li class="nav-item">
					    	<a class="nav-link" data-toggle="tab" href="#js" role="tab"><i class="fa fa-fw fa-html5"></i>JavaScript</a>
					  	</li>
				  	{{/if}}
				  	{{#if fiddle}}
					  	<li class="nav-item">
					    	<a class="nav-link" data-toggle="tab" href="#jsfiddle" role="tab"><i class="fa fa-fw fa-html5"></i>JsFiddle</a>
					  	</li>
				  	{{/if}}					  	
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
				  	{{#if markup}}
				  		<div class="tab-pane active" id="html_markup" role="tabpanel">
				  			<pre class="pre-scrollable"><code class="html">{{markup}}</code></pre>
				  		</div>
				  	{{/if}}	
				  	{{#if js}}
				  		<div class="tab-pane" id="js" role="tabpanel">
				  			<pre class="pre-scrollable"><code class="javascript">{{js}}</code></pre>
				  		</div>
				  	{{/if}}		
				  	{{#if fiddle}}
				  		<div class="tab-pane" id="jsfiddle" role="tabpanel">
				  			<script async src="//jsfiddle.net/HBSAWS/{{fiddle}}/embed/js,html,css,resources,result/dark/"></script>
				  			{{!-- <iframe width="100%" height="300" src="//jsfiddle.net/HBSAWS/{{fiddle}}/embedded/js,html,css,result/dark/" allowfullscreen="allowfullscreen" frameborder="0"></iframe> --}}
				  		</div>
				  	{{/if}}						  	
				</div>
				
		      </div>
		    </div>
		  </div>
		  {{/compare}} 

		</div>

		
	</div><!--/#mainbody-->


{{/article}}



