<div id="mainbody" class="m-2">

	{{#category}}
	<form action="/categories/update/{{id}}" method="post" data-parsley-validate>
	  
		<div class="row form-group">
		  	<div class="col-md-3 hidden-sm-down text-xs-right">
		    	<label for="_parent">Parent Category</label>
		  	</div>
		  	<div class="col-md-9">
		  		<label class="hidden-md-up d-block" for="_parent">Category</label>
		  		<select name="_parent" class="select2 form-control" data-placeholder="Select a parent category or leave blank to assign it as top level">
		  			<option value=""></option>
					{{#each ../parents}}
				  		<option value="{{_id}}" {{#is _id ../_id}}selected{{/is}}>{{title}}</option>
					{{/each}}
				</select>
		  	</div>
		</div><!--/.row-->

		<div class="row form-group">
		  	<div class="col-md-3 text-md-right">
		    	<label for="title">Title</label>
		  	</div>
		  	<div class="col-md-9">
		  		<input name="title" type="text" class="form-control" value="{{title}}" required>
		  	</div>
		</div><!--/.row-->

		<div class="row form-group">
		 	<div class="col-md-3 text-md-right">
		    	<label for="intro">Intro</label>
		  	</div>
		  	<div class="col-md-9">
		  		<input name="intro" type="text" class="form-control" value={{intro}}>
		  	</div>
		</div><!--/.row-->	


		<div class="row form-group">
		  	<div class="col-md-3 text-md-right">
		   		<label for="icon">Icon</label>
		  	</div>
		  	<div class="col-md-9">
		  		<input name="icon" type="text" class="form-control" value="{{icon}}" >
			</div>
		</div><!--/.row-->	

		<div class="form-group row">
			<label class="col-md-3 hidden-sm-down text-xs-right" for="order">Order</label>
			<div class="col-md-9">
				<label class="hidden-md-up d-block" for="order">Order</label>
				<select name="order" class="form-control">
					{{#each ../parents}}
					<option value="{{order}}" {{#is order ../order}}selected{{/is}}>{{order}}</option>
					{{/each}}
				</select>
			</div>
		</div><!--/.row-->	 	
		
	  	<div class="row form-group">
			<div class="col-md-3 text-md-right">
	  		</div>
			<div class="col-md-9">
				<div class="checkbox">
			    	<label>
				    	<input name="published" type="checkbox" {{#is published true}}checked{{/is}}> Published?
			    	</label>
				</div>
		  	</div> 
	 	</div><!--/.row-->	
		
	  	<div class="row form-group">
	  		<div class="col-md-3 text-md-right">
	  		</div>
		  	<div class="col-md-9">
			 	<div class="checkbox">
			    	<label>
			      		<button type="submit" class="btn btn-secondary btn-primary">Update</button>
			    	</label>
			  	</div>
		  	</div> 
	 	</div><!--/.row-->	

	</form>
	{{/category}}

</div><!--#mainbody-->